@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Muntasir Mahmud<br />
    Noakhali<br />
    <abbr title="Phone">P:</abbr>
    01835313063
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dhrubainvisible@gmail.com">dhrubainvisible@gmail.com</a><br />
    
</address>