@model IEnumerable<VideoRentalApps.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

@*<h2>Movies</h2>*@
<div class="container">
   
        <ol class="justify-content-sm-end">
            <li><a href="@Url.Action("index","Home")">Home</a></li>
            <li>Customers</li>
        </ol>
   

        <table id="movies" class="table table-success table-bordered table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>

                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>
    @section scripts{
        <script>
            $(document).ready(function () {
                var table = $("#movies").DataTable({
                    ajax: {
                        url: "api/movies",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name",

                        },

                        {
                            data: "genre.name"
                        }

                    ]
                });
            });
        </script>
    }
