@model dynamic

@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
    ViewBag.Title = "New Rental Form";
}

<body >
    <div class="container" style="margin-bottom:30px; margin-top:30px;">
        
        <div class="">
            <ol class="justify-content-sm-end">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li>Rental Form</li>
            </ol>
            <h3>New Rental Form</h3>

        </div>
        <div class="col">
            <h6>Enter a name from Customer List</h6>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form id="newRental">
                    <div class="form-group">
                        <label>Customer</label>
                        <div class="tt-container text-black-50">
                            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Movie</label>
                        <div class="tt-container text-black-50">
                            <input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" value="" class="form-control" />
                        </div>
                    </div>

                    <button class="btn btn-save btn-primary">Submit</button>
                    @*<button type="reset" id="configreset" class="btn btn-save btn-warning">Reset</button>*@
                </form>
                @*<div class="form-group">
                    <label>Customer</label>
                    <div class="tt-container text-black-50 ">
                        <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label>Movie</label>
                    <div class="tt-container">
                        <input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" value="" class="form-control" />
                    </div>
                </div>*@
            </div>
            <div class="col-lg-6">
                <h4>Movie Listed</h4>
                <div class="col-md-6">
                    <ul id="movies" class="list-group"></ul>
                </div>
                @*<div class="row">
                    <div class="col-md-4 col-sm-4">
                        <ul id="movies" class="list-group"></ul>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</body>
                            @section scripts{
                                @Scripts.Render("~/bundles/jqueryval")
                                <script>
                                    $(document).ready(function () {
                                        var vm = {
                                            movieIds: []
                                        };
                                        $(':input[type="reset"]').prop('disabled', false); //Reset button enable
                                        var customers = new Bloodhound({
                                            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                                            queryTokenizer: Bloodhound.tokenizers.whitespace,
                                            remote: {
                                                url: '/api/customers?query=%QUERY',
                                                wildcard: '%QUERY'
                                            }
                                        });
                                        $('#customer').typeahead({
                                            minLength: 3,
                                            highlight: true
                                        }, {
                                            name: 'customers',
                                            display: 'name',
                                            source: customers
                                        }).on("typeahead:select", function (e, customer) {
                                            vm.customerId = customer.id;
                                            
                                        });
                                        var movies = new Bloodhound({
                                            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                                            queryTokenizer: Bloodhound.tokenizers.whitespace,
                                            remote: {
                                                url: '/api/movies?query=%QUERY',
                                                wildcard: '%QUERY'
                                            }
                                        });
                                        $('#movie').typeahead({
                                            minLength: 3,
                                            highlight: true
                                        }, {
                                            name: 'movies',
                                            display: 'name',
                                            source: movies
                                        }).on("typeahead:select", function (e, movie) {
                                            $("#movies").append("<li class='list-group-item '>" + movie.name + "</li>");
                                            $("#movie").typeahead("val", "");
                                            vm.movieIds.push(movie.id);
                                            if ($(this).val() != '') {
                                                $(':input[type="submit"]').prop('disabled', Ture);
                                            }
                                            
                                        });
                                        $.validator.addMethod("validCustomer", function () {
                                            return vm.customerId && vm.customerId !== 0;
                                        }, "Please select a valid customer.");
                                        $.validator.addMethod("atLeastOneMovie", function () {
                                            return vm.movieIds.length > 0;
                                        }, "Please select at least one movie.");
                                        var validator = $("#newRental").validate({
                                            submitHandler: function () {
                                                $.ajax({
                                                    url: "/api/newRentals",
                                                    method: "post",
                                                    data: vm
                                                })
                                                    .done(function () {
                                                        toastr.success("Rentals successfully recorded.");
                                                        $("#customer").typeahead("val", "");
                                                        $("#movie").typeahead("val", "");
                                                        $("#movies").empty();
                                                        vm = { movieIds: [] };
                                                        validator.resetForm();
                                                    })
                                                    .fail(function () {
                                                        toastr.error("Something unexpected happened.");
                                                    });
                                                return false;
                                                $('#configreset').click(function () {
                                                    $('#newRental')[0].reset();
                                                });
                                            }
                                        });

                                       
                                    });
                                </script>
}
