@model IEnumerable<VideoRentalApps.Models.Customer>
 @{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

@{
    ViewBag.Title = "Index";
}

                    <div class="container">
                        <div>
                            <ol class="justify-content-sm-end">
                                <li><a href="@Url.Action("index","Home")">Home</a></li>
                                <li>Customers</li>
                            </ol>
                        </div>
                        <div class="container">


                            <table id="customers" class="table table-success table-bordered table-hover">

                                <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>MembershipType</th>
                                        <th>Discount Rate %</th>
                                    </tr>

                                </thead>

                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"

                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "membershipType.discountRate"
                    }

                ]
            });


        });
    </script>
}
   